<div class="card-deck" [style.margin-top.rem]="0.5">
  <!--Card-->
  <div class="card" *ngFor="let category of categories">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
      <img [src]="category.imageS" alt="{{category.title}}" class="img-fluid" [style.width.%]="100" >
      <a (click)="filterCategory(category)">
        <div class="mask"></div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-xs-center">
      <h4 class="card-title">{{category.title}}</h4>
      <hr class="my-2">
      <p class="card-text">{{category.desc}}</p>
      <div class="btn-group" role="group">
        <button class="btn btn-primary" (click)="filterCategory(category)">Browse</button>
      </div>
    </div>
    <!--/.Card content-->
  </div>
</div>
