<!--<div class="product-menu page-footer indigo center-on-small-only pt-0">
  &lt;!&ndash;<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#footerText"
          aria-controls="footerText" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>&ndash;&gt;
  <a href="#" class="navbar-brand" >{{title}}</a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let navItem of navItems"><a  class="nav-link" routerLink="{{navItem.href}}" [routerLinkActive]="['active']" >{{navItem.label}}</a></li>
    </ul>

</div>-->

<footer class="page-footer grey darken-3 center-on-small-only pt-0">

  <!--Footer Links-->
  <div class="container">

    <!--Grid row-->
    <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-2 mb-3" *ngFor="let navItem of navItems">
        <h6 class="title font-bold"><a  class="nav-link" *ngIf="!navItem.navs" routerLink="{{navItem.href}}" [routerLinkActive]="['active']" >{{navItem.label}}</a></h6>
      </div>
    </div>
    <!--Grid row-->

    <hr class="rgba-white-light" style="margin: 0 15%;">
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <!--Grid row-->
    <div class="row pb-3">
      <!--Grid column-->
      <div class="col-md-12">
        <div class="footer-socials mb-5 flex-center">
          <!--Facebook-->
          <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
          <!--Twitter-->
          <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
          <!--Google +-->
          <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
          <!--Linkedin-->
          <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
          <!--Instagram-->
          <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
          <!--Pinterest-->
          <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!--/Footer Links-->
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="#"> Panache Fashions </a>
    </div>
  </div>
  <!--/Copyright-->
</footer>
