<div id="side-nav" class="sidenav bg-inverse">
  <ul>
    <li *ngFor="let navItem of navItems"><a routerLink="{{navItem.href}}" [routerLinkActive]="['active']" >{{navItem.label}}</a></li>
  </ul>
</div>

<div class="product-menu navbar fixed-top navbar-inverse bg-inverse">
  <div>
    <button class="hamburger hamburger--collapse float-md-left" id="hamburger" type="button" onclick="toggleNav();">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
    </button>
    <ul class="nav navbar-nav float-md-left">
      <li class="nav-item ">
        <a class="nav-link logo"  href="#">
          Eat Fresh
        </a>
      </li>
    </ul>
    <app-cart-menu></app-cart-menu>
    <app-login [inline]="loginInline"></app-login>

  </div>
</div>

