<div class="container" *ngIf="!inline; else inlineForm">
  <div class="row">
    <div class="card col-md-8 col-sm-12 offset-2 grey-text mx-auto">
      <div class="card-body">
        <div class="form-header indigo-gradient">
          <h3 class="white-text"><i class="fa fa-lock"></i> Sign In</h3>
        </div>
        <form [formGroup]="loginForm" novalidate *ngIf="active" (ngSubmit)="login(loginForm.value)">
          <div class="md-form form-group">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" formControlName="userName" class="form-control validate">
            <label for="username">User Name</label>
          </div>
          <div *ngIf="formErrors.userName" class="alert alert-danger">
            {{formErrors.userName}}
          </div>
          <div class="md-form form-group">
            <i class="fa fa-lock prefix"></i>
            <input type="password" formControlName="password" class="form-control validate">
            <label for="password">Password</label>
          </div>
          <div *ngIf="formErrors.password" class="alert alert-danger">
            {{formErrors.password}}
          </div>
          <div class="md-form form-group">
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-rounded indigo-gradient waves-effect"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;Sign In</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="options">
          <p>Not a member? <a [routerLink]="['/register']">Register</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #inlineForm>
<form class="form-inline float-right log-in-inline"  [formGroup]="loginForm" novalidate *ngIf="!isLoggedIn(); else loggedInInfo" (ngSubmit)="login(loginForm.value)">
  <div class="md-form form-group">
    <i class="fa fa-envelope prefix"></i>
    <input type="text" formControlName="userName" class="form-control validate white-text">
    <label for="userName" class="grey-text lighten-5" >Type your email</label>
  </div>
  <div class="md-form form-group">
    <i class="fa fa-lock prefix"></i>
    <input type="password" formControlName="password" class="form-control validate white-text">
    <label for="password" class="grey-text lighten-5">Type your password</label>
  </div>
  <div class="md-form form-group">
    <div> <button type="submit" [disabled]="!loginForm.valid" class="btn btn-rounded peach-gradient waves-effect"><i class="fa fa-sign-in white-text border-0"></i> Sign In</button>
      <div class="d-block text-md-center"><a  class="white-text" [routerLink]="['/register']">Register Account</a></div></div>
  </div>
</form>
  <ng-template #loggedInInfo>
    <div class="float-md-right white-text mr-2 logged-in">
      <span><i class="fa fa-user-circle"></i> {{loggedInUser.firstName}} {{loggedInUser.lastName}}</span>
      <a class="ml-2" (click)="logout()">
          <i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Sign Out
      </a>
    </div>
  </ng-template>
</ng-template>
