<app-navbar></app-navbar>
<div class="container-fluid" id="main">
  <form [formGroup]="productForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3><span class=" my-auto align-middle">Add New Product</span></h3>
      </div>
      <div class="col-md-4 col-sm-6">
        <button class="btn btn-rounded indigo-gradient waves-effect">Save</button>
        <button type="button" (click)="cancel()" class="btn btn-rounded grey-gradient waves-effect">Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Product Name</label>
          <div class="col-8">
            <input type="text" formControlName="title">
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Short Description</label>
          <div class="col-8">
            <input type="text" formControlName="shortDescription">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">SKU</label>
          <div class="col-8">
            <input type="number" formControlName="sku">
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Stock Quantity</label>
          <div class="col-8">
            <input type="number" formControlName="stockQuantity">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Show on Home Page</label>
          <div class="col-8">
            <label class="switch"><input type="checkbox" formControlName="showOnHomePage"><span class="slider"></span></label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Mark as New</label>
          <div class="col-8">
            <label class="switch"><input type="checkbox" formControlName="markAsNew"><span class="slider"></span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Published</label>
          <div class="col-8">
            <label class="switch"><input type="checkbox" formControlName="published"><span class="slider"></span></label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Allow Reviews</label>
          <div class="col-8">
            <label class="switch"><input type="checkbox" formControlName="allowReviews"><span class="slider"></span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <div class="row">
          <label class="col-form-label col-4">Tags</label>
          <div class="col-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Tags for search..." [(ngModel)]="tag" [ngModelOptions]="{standalone : true}">
              <span class="input-group-btn">
                <button type="button" class="btn grey-gradient waves-effect" (click)="addTag()">Add</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <div class="row">
          <label class="col-form-label col-4">Category</label>
          <div class="col-8">
            <div class="input-group">
              <select [(ngModel)]="category" [ngModelOptions]="{standalone : true}" class="form-control form-control-lg my-auto">
                <option [value]=""></option>
                <option *ngFor="let c of categories" [value]="c.slug">{{c.title}}</option>
              </select>
              <span class="input-group-btn">
                <button type="button" (click)="addCategory()"
                        class="btn grey-gradient waves-effect">Add</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <ul class="tag-editor" *ngIf="productForm.controls.tags?.length > 0" formArrayName="tags">
          <li [formGroupName]="i" class="mx-3" *ngFor="let tag of productForm.controls.tags.controls, index as i">
            <!--<div class="tag-editor-spacer">&nbsp;,</div>-->
            <div class="tag-editor-tag ml-3">{{tag.value}}</div>
            <div class="tag-editor-delete"><a (click)="deleteTag(i)"><i class="fa fa-trash"></i></a></div>
          </li>
        </ul>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <ul class="tag-editor" *ngIf="productForm.controls.categories?.length > 0" formArrayName="categories">
          <li [formGroupName]="i" *ngFor="let category of productForm.controls.categories.controls, index as i">
            <div class="tag-editor-spacer">&nbsp;,</div>
            <div class="tag-editor-tag">{{category.value}}</div>
            <div class="tag-editor-delete"><a (click)="deleteCategory(i)"><i class="fa fa-trash"></i></a></div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="nav nav-tabs mt-2" role="tablist" id="productTabs">
      <li class="nav-item">
        <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details"
           aria-expanded="true">Details</a>
      </li>
     <!-- <li class="nav-item">
        <a class="nav-link" id="mappings-tab" data-toggle="tab" href="#mappings" role="tab" aria-controls="mappings">Mappings</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" id="variations-tab" data-toggle="tab" href="#variations" role="tab"
           aria-controls="variations">Product Variations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pricing-tab" data-toggle="tab" href="#pricing" role="tab" aria-controls="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pictures-tab" data-toggle="tab" href="#pictures" role="tab" aria-controls="pictures">Pictures</a>
      </li>
    </ul>
    <div class="tab-content" id="productTabsContent">
      <div class="tab-pane fade ml-lg-4 my-lg-4 show active" role="tabpanel" aria-labelledby="details-tab" id="details">
        <div class="form-group mt-2">
          <label>Product Details</label>
          <textarea [froalaEditor]="editorOptions" formControlName="fullDescription"></textarea>
        </div>
      </div>
      <div class="tab-pane fade ml-lg-4" role="tabpanel" aria-labelledby="variations-tab" id="variations">
        <div *ngIf="productForm.controls.variations?.length > 0" formArrayName="variations" class="my-3">
          <div class="row py-3" *ngFor="let variation of productForm.controls.variations.controls, index as i"
               [formGroupName]="i">
            <div class="col-md-2 font-up font-bold">{{variation.get('name').value}}</div>
            <div class="col-md-8">
              <table class="table table-bordered">
                <thead>
                <tr class="indigo white-text">
                  <th>Attribute Value</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Visible</th>
                </tr>
                </thead>
                <tbody formArrayName="values">
                <tr *ngFor="let options of variation.controls.values.controls, index as i1" [formGroupName]="i1">
                  <td>{{options.get('value').value}}</td>
                  <td><input type="text" formControlName="price"></td>
                  <td><input type="text" formControlName="quantity"></td>
                  <td><label class="switch"><input type="checkbox" formControlName="visible"><span class="slider"></span></label></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-rounded indigo-gradient" data-toggle="modal" data-target="#addVariations">
          Add Variations
        </button>
      </div>
      <div class="tab-pane fade ml-lg-4 my-lg-4" role="tabpanel" aria-labelledby="pricing-tab" id="pricing">
        <div class="form-group">
          <label>Retail Price</label>
          <input type="number" formControlName="price">
        </div>
        <div class="form-group">
          <label>Sales Price</label>
          <input type="number" formControlName="salesPrice">
        </div>
      </div>
      <div class="tab-pane fade ml-lg-4 my-lg-4" role="tabpanel" aria-labelledby="pictures-tab" id="pictures">
        <!-- <app-file-upload *ngIf="model" [fieldname]="categoryImage" [model]="model"
                          (onUploadSuccess)="setImage($event)"></app-file-upload>-->
        <app-file-upload *ngIf="model" [fieldname]="productImage" [model]="model"
                         (onUploadSuccess)="setImage($event)"></app-file-upload>
        <!--    <table class="table table-striped table-bordered" *ngIf="uploads && uploads.length > 0" formArrayName="images">
              <thead>
              <th>Image</th>
              <th>Type</th>
              <th>Width</th>
              <th>Height</th>
              <th>Display Order</th>
              <th>Delete</th>
              </thead>
              <tr [formGroupName]="i" *ngFor="let image of categoryForm.controls.images.controls, index as i">
                <td ><img [src]="uploads[i].url" [style.width.px]="100" [style.height.px]="100"></td>
                <td><input type="text" formControlName="type"></td>
                <td><input type="text" formControlName="width"></td>
                <td><input type="text" formControlName="height"></td>
                <td><input type="text" formControlName="displayOrder"></td>
                <td><a (click)="deleteImage(uploads[i].url)"><i class="fa fa-trash"></i></a></td>
              </tr>
            </table>-->

        <ul class="thumbnail" *ngIf="productForm.controls.images?.length > 0" formArrayName="images">
          <li [formGroupName]="i" *ngFor="let image of productForm.controls.images.controls, index as i">
            <div class="thumbnail-spacer">&nbsp;,</div>
            <div class="thumbnail-image"><img [src]="image.get('url').value" [style.width.px]="100" [style.height.px]="100">
            </div>
            <div class="thumbnail-delete"><a (click)="deleteImage(image.get('url').value)"><i class="fa fa-trash"></i></a></div>
          </li>
        </ul>
      </div>
    </div>


  </form>
  <div class="modal fade" id="addVariations" tabindex="-1" role="dialog" aria-labelledby="variationTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="variationTitle">Add Variations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="variationForm" novalidate *ngIf="active">
            <div *ngIf="variationForm.controls.variation?.length > 0" formArrayName="variation">
              <div class="form-group" [formGroupName]="i"
                   *ngFor="let variation of variationForm.controls.variation.controls, index as i">
                <div class="row">
                  <div class="col-md-6 my-auto"><span class="font-bold font-up">{{variation.get('name').value}}</span><a
                    (click)="deleteVariationValue(i,i1)" class="ml-3"><i class="fa fa-trash"></i></a></div>
                  <div class="input-group form-inline col-md-6" [ngSwitch]="variation.get('name').value">
                    <ng-container *ngSwitchCase="'Size'">
                      <select class="form-control" [(ngModel)]="variationValues[i]"
                              [ngModelOptions]="{standalone : true}">
                        <option [value]="">Add {{variation.get('name').value}} options</option>
                        <option *ngFor="let value of optionValues[i], index as i" [value]="value">{{value}}</option>
                      </select>
                      <span class="input-group-btn ml-2">
                        <button class="btn grey-gradient waves-effect" (click)="addVariationValue(i)"
                                type="button">Add
                        </button>
                      </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Color'">
                      <input type="text" class="form-control" [(colorPicker)]="variationValues[i]"
                             [value]="variationValues[i]" [cpPosition]="'left'"
                             [cpOKButton]="true" [cpSaveClickOutside]="false"
                             [cpOKButtonClass]="'btn btn-rounded indigo-gradient waves-effect btn-sm'"
                             [cpCancelButton]="true"
                             [cpCancelButtonClass]="'btn btn-rounded grey-gradient waves-effect btn-sm'"
                             [style.background]="variationValues">
                      <span class="input-group-btn ml-2">
                        <button class="btn grey-gradient waves-effect" (click)="addVariationValue(i)"
                                type="button">Add
                        </button>
                      </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <input type="text" class="form-control" placeholder="Add Value.." (ngModel)="variationValues[i]"
                             [ngModelOptions]="{standalone : true}">
                      <span class="input-group-btn ml-2">
                        <button class="btn grey-gradient waves-effect" (click)="addVariationValue(i)"
                                type="button">Add
                        </button>
                      </span>
                    </ng-container>
                  </div>
                </div>
                <ul class="tag-editor mt-4" *ngIf="variation.get('values')?.length > 0" formArrayName="values">
                  <li *ngFor="let variationValue of variation.get('values').controls, index as i1" [formGroupName]="i1">
                    <div class="tag-editor-spacer">&nbsp;,</div>
                    <div class="tag-editor-tag" [ngSwitch]="variation.get('name').value">
                      <div *ngSwitchCase="'Color'" [title]="variationValue.get('value').value"
                           [style.background]="variationValue.get('value').value" class="variation-color">
                      </div>
                      <div *ngSwitchDefault>
                        {{variationValue.get('value').value}}
                      </div>
                    </div>
                    <div class="tag-editor-delete">
                      <div><a (click)="deleteVariationValue(i,i1)"><i class="fa fa-trash"></i></a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="hr-light border-light" *ngIf="variationForm.controls.variation?.length > 0"></div>
            <div class="form-group">
              <label>Add a variation</label>
              <select #variation (change)="addVariation(variation.value)" class="form-control col-4">
                <option [value]=""></option>
                <option *ngFor="let v of variations, index as i" [value]="i">{{v.name}}</option>
              </select>
            </div>
            <button type="button" class="btn btn-rounded grey-gradient waves-effect" data-dismiss="modal">Close</button>
            <button type="button" (click)="saveVariations()" class="btn btn-rounded indigo-gradient waves-effect"
                    data-dismiss="modal">Save changes
            </button>
          </form>
        </div>
        <!--<div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>-->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
