<div class="card-deck-wrapper" [style.margin-top.rem]="0.5">
  <div class="card-deck">
    <div class="card product-card" *ngFor="let product of products">
     <!-- <div class="card-header text-xs-center">
        {{product.title}}
      </div>-->
      <!--<img class="img-fluid card-img-top" [src]="product.imageS" [style.width.%]="100"  alt="{{product.title}}">-->
      <!--Card image-->
      <div class="view overlay hm-blue-light">
        <img [src]="displayImage(product)" alt="{{product.title}}" class="img-fluid">
        <!--<div class="overlay-title grey-text">
          {{product.title}}
        </div>-->
        <span class="price h4-responsive" [ngClass]="setClasses(product)">
          ${{product.price}}
        </span>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->
      <div class="card-body text-xs-center">
        <div class="card-text">{{product.title}}</div>
        <hr class="my-2">
        <div>
          <a class="btn btn-rounded indigo-gradient" (click)="buy(product)">Add to Cart</a>
          <a class="btn btn-rounded peach-gradient" [routerLink]="['/product',product.slug]">More Details...</a>
        </div>
      </div>


    </div>
  </div>
</div>
