<form class="">
    <div class="form-group">
      <label for="search" >Search Products</label>
      <div class="input-group">
        <input class="form-control" type="text" id="search" name="search" placeholder="Search..." />
               <span class="input-group-addon search" >
                 <i class="fa fa-search color-inverse"></i>
               </span>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="searchProduct(search.value)">Go!</button>
                </span>
      </div>
    </div>
</form>

