/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/hamburgers/dist/hamburgers.css";

body {
  padding-top: 51px;
  /*padding-bottom: 51px;*/
}

.centered-block {
  /*position: absolute;*/
 /* left: 50%;
  top: 50%;*/
  /*margin-left: -150px;
  margin-top: -150px;*/
  margin-top: 2rem;
}

.sidenav {
  width: 0;
  height: 100%;
  top : 0;
  left: 0;
  z-index : 1;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  margin-top: 51px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hamburger {
 padding: 0px 0px;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-box {
  margin-top: 6px;
}

.padding-top {
 padding-top: 10px;
}

.card {
  margin-top: 0.75rem;
}

