/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/hamburgers/dist/hamburgers.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/mdbootstrap/css/bootstrap.css";
@import "../node_modules/mdbootstrap/css/mdb.css";

body {
  padding-top: 51px;
  /*padding-bottom: 51px;*/
}

.centered-block {
  /*position: absolute;*/
 /* left: 50%;
  top: 50%;*/
  /*margin-left: -150px;
  margin-top: -150px;*/
  margin-top: 2rem;
}

.sidenav {
  width: 0;
  height: 100%;
  top : 0;
  left: 0;
  z-index : 1;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  margin-top: 51px;
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,  .sidenav a.active {
  color: #f1f1f1;
  border-left: 4px solid #0275d8;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.search {
  background-color: #fff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hamburger {
 padding: 0px 0px;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-box {
  margin-top: 6px;
}

.padding-top {
 padding-top: 10px;
}

.card {
  margin-top: 0.75rem;
}

.color-inverse {
  color: #373a3c !important;
}

.input-group > #search {
  border-right: 0px;
}

.form-control:focus ~ .search {
 /* color: #55595c;
  background-color: #fff;*/
  border-color: #66afe9;
  outline: none;
}

.form-control:focus + .search .color-inverse {
  color : #66afe9 !important;
}

/*.carousel-control.left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 175, 233, 0.7)), to(rgba(102, 175, 233, 0.3)));
  background-image: -webkit-linear-gradient(left, rgba(102, 175, 233, 0.7) 0%, rgba(102, 175, 233, 0.3) 100%);
  background-image: -o-linear-gradient(left, rgba(102, 175, 233, 0.7) 0%, rgba(102, 175, 233, 0.3) 100%);
  background-image: linear-gradient(to right, rgba(102, 175, 233, 0.7) 0%, rgba(102, 175, 233, 0.3) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66afe9', endColorstr='#afd5f4', GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 175, 233, 0.3)), to(rgba(102, 175, 233, 0.7)));
  background-image: -webkit-linear-gradient(left, rgba(102, 175, 233, 0.3) 0%, rgba(102, 175, 233, 0.7) 100%);
  background-image: -o-linear-gradient(left, rgba(102, 175, 233, 0.3) 0%, rgba(102, 175, 233, 0.7) 100%);
  background-image: linear-gradient(to right, rgba(102, 175, 233, 0.3) 0%, rgba(102, 175, 233, 0.7) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afd5f4', endColorstr='#66afe9', GradientType=1);
}*/

.card-deck {
  width: 100%;
}



@media (min-width: 576px) {
  .card-deck {
    display: flex;
  }

  .card-deck .card {
   /* flex: 0 0 250px;*/
    width: 230px;
    flex-shrink: 0;
    margin-bottom: 0;
    vertical-align: top;
    margin: 0 0.8rem;
  }
/*
  .card {
    max-width: 250px;
  }*/
}

.list-group a {
  cursor : pointer;
}

.navbar .btn, .card-block .btn {
  margin: 0 auto;
}

.btn.btn-md , .btn-md {
  font-size: 0.7rem;
  padding: 0.5rem 0.8rem;
}

