/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/hamburgers/dist/hamburgers.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/mdbootstrap/css/bootstrap.css";
@import "../node_modules/mdbootstrap/css/mdb.css";

body {
  padding-top: 51px;
  /*padding-bottom: 51px;*/
}

.centered-block {
  /*position: absolute;*/
 /* left: 50%;
  top: 50%;*/
  /*margin-left: -150px;
  margin-top: -150px;*/
  margin-top: 2rem;
}

.sidenav {
  width: 0;
  height: 100%;
  top : 0;
  left: 0;
  z-index : 1;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  margin-top: 51px;
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,  .sidenav a.active {
  color: #f1f1f1;
  border-left: 4px solid #0275d8;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.search {
  background-color: #fff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hamburger {
 padding: 0px 0px;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-box {
  margin-top: 10px;
}

.padding-top {
 padding-top: 10px;
}

.card {
  /*margin-top: 0.75rem;*/
}

.color-inverse {
  color: #373a3c !important;
}

.input-group > #search {
  border-right: 0px;
}

.form-control:focus ~ .search {
 /* color: #55595c;
  background-color: #fff;*/
  border-color: #66afe9;
  outline: none;
}

.form-control:focus + .search .color-inverse {
  color : #66afe9 !important;
}

/*.carousel-control.left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 175, 233, 0.7)), to(rgba(102, 175, 233, 0.3)));
  background-image: -webkit-linear-gradient(left, rgba(102, 175, 233, 0.7) 0%, rgba(102, 175, 233, 0.3) 100%);
  background-image: -o-linear-gradient(left, rgba(102, 175, 233, 0.7) 0%, rgba(102, 175, 233, 0.3) 100%);
  background-image: linear-gradient(to right, rgba(102, 175, 233, 0.7) 0%, rgba(102, 175, 233, 0.3) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66afe9', endColorstr='#afd5f4', GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 175, 233, 0.3)), to(rgba(102, 175, 233, 0.7)));
  background-image: -webkit-linear-gradient(left, rgba(102, 175, 233, 0.3) 0%, rgba(102, 175, 233, 0.7) 100%);
  background-image: -o-linear-gradient(left, rgba(102, 175, 233, 0.3) 0%, rgba(102, 175, 233, 0.7) 100%);
  background-image: linear-gradient(to right, rgba(102, 175, 233, 0.3) 0%, rgba(102, 175, 233, 0.7) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afd5f4', endColorstr='#66afe9', GradientType=1);
}*/

.card-deck {
  width: 100%;
}



@media (min-width: 576px) {
  .card-deck {
    display: flex;
  }

  .card-deck .card {
   /* flex: 0 0 250px;*/
    width: 230px;
    flex-shrink: 0;
    margin-bottom: 0;
    vertical-align: top;
    margin: 0 0.8rem;
  }
/*
  .card {
    max-width: 250px;
  }*/
}

.list-group a {
  cursor : pointer;
}

.navbar .btn, .card-block .btn {
  margin: 0 auto;
}

.btn.btn-md , .btn-md {
  font-size: 0.7rem;
  padding: 0.5rem 0.8rem;
}


.search-link i {
  margin: 0.5rem;
  color: #4285F4;
}


input[type=text]:focus:not([readonly]) + .search-link,
input[type=password]:focus:not([readonly]) + .search-link,
input[type=email]:focus:not([readonly]) + .search-link,
input[type=url]:focus:not([readonly]) + .search-link,
input[type=time]:focus:not([readonly]) + .search-link,
input[type=date]:focus:not([readonly]) + .search-link,
input[type=datetime-local]:focus:not([readonly]) + .search-link,
input[type=tel]:focus:not([readonly]) + .search-link,
input[type=number]:focus:not([readonly]) + .search-link,
input[type=search-md]:focus:not([readonly]) + .search-link,
input[type=search]:focus:not([readonly]) + .search-link,
textarea.md-textarea:focus:not([readonly]) + .search-link {
  color: #4285F4;
}

/*.z-depth-1, .jumbotron, .card, .list-group, .btn{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
  box-shadow: 0 10px 16px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}*/

.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 3px -4px rgba(0,0,0,0.35),0 1px 7px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover, .btn-secondary.active, .btn-secondary.dropdown-toggle, .btn-primary.active, .btn-default.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active, .pager li a:hover, .btn-elegant.active, .btn-unique.active, .btn-pink.active, .btn-purple.active, .btn-deep-purple.active, .btn-indigo.active, .btn-cyan.active, .btn-light-green.active, .btn-dark-green.active, .btn-lime.active, .btn-yellow.active, .btn-amber.active, .btn-orange.active, .btn-deep-orange.active, .btn-brown.active, .btn-blue-grey.active, .btn-mdb.active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px -5px rgba(0,0,0,0.24),0 4px 9px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark form i {
  color: #fff;
}

.view .overlay-title {
  position : absolute;
  text-align: center;
  left : 0;
  top: 0;
  color : #fff;
  width: 100%;
  text-transform: uppercase;
}

.view .price {
  position : absolute;
  text-align: center;
  right : 0;
  bottom: 0;
  color : #fff;
  text-transform: uppercase;
  padding : 0.2rem 0.4rem;
}

.cart-item {
  /*margin: 0 auto;
  width : 30%;*/
  padding : 0.6rem 0.8rem;
}

.navbar-nav .menu-container a {
  padding-top: 0px;
  position: relative;
  display: block;
}


.menu-text {
  position: absolute;
  top : 3px;
  right : 18px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%/50%;
  /*border: 1px solid #fff;*/
  font-size: 1.1rem;
  font-weight: bold;
}

.menu-container .dropdown-toggle::after {
  display: none;
}

.menu-container i {
  font-size: 2.5rem;
  margin-bottom: 6px;
}

.navbar .cart-btn a:last-child {
  margin-right: 1.2rem;
}
