<app-navbar></app-navbar>
<div class="container" id="main">
<!--<div class="row">
  <div class="col-md-6">
    &lt;!&ndash; Carousel container &ndash;&gt;
    <div id="carousel-categories" class="carousel slide" data-ride="carousel">

      &lt;!&ndash; Indicators &ndash;&gt;
      <ol class="carousel-indicators">
        <li data-target="#carousel-categories"
            *ngFor="let category of slideCategories;let first=first; let i=index"
            [attr.data-slide-to]="i" [ngClass]="{active: first}"></li>
      </ol>

      &lt;!&ndash; Content &ndash;&gt;
      <div class="carousel-inner" role="listbox">

        <div *ngFor="let category of slideCategories;let first=first"
             class="carousel-item" [ngClass]="{active: first}">
          <app-category-slide
            [category]="category" (select)="selectCategory($event)">
          </app-category-slide>
        </div>

      </div>

      &lt;!&ndash; Previous/Next controls &ndash;&gt;
      <a class="left carousel-control" href="#carousel-categories" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-categories" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</div>-->

<!-- <div class="row">
   <div class="col-md-3 col-xs-6 col-sm-4">
     <div class="container">
       <div class="row padding-top">
         <form class="">
           <div class="form-group">
             <label for="search" >Search Products</label>
               <div class="input-group">
               <input class="form-control" type="text" id="search" name="search" placeholder="Search..." />
               <span class="input-group-addon search" >
                 <i class="fa fa-search color-inverse"></i>
               </span>
               </div>
           </div>
         </form>
       </div>
       <div class="row padding-top">
         <div class="card">
           <div class="card-header">Categories</div>
           <div class="card-block">
             <div class="list-group">
               <a href="#" class="list-group-item">All</a>
               <a href="#" class="list-group-item">Meat</a>
               <a href="#" class="list-group-item">Seafood</a>
               <a href="#" class="list-group-item">Grocery</a>
               <a href="#" class="list-group-item">Fruits & Vegetables</a>
               <a href="#" class="list-group-item">Home Furniture</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-9 col-xs-6 col-sm-8 ">
     <div class="row">
       <app-category-card *ngFor="let category of cardCategories"
                          [category]="category" (select)="selectCategory($event)">
       </app-category-card>
     </div>
   </div>
 </div>-->
<!--<div class="row" [style.margin-top.rem]="0.5">
  <app-category-card *ngFor="let category of cardCategories; let index = index; let count = count"
                     [category]="category" [currentCount]="count" (select)="selectCategory($event)">
  </app-category-card>
</div>-->
<app-category-grid></app-category-grid>
</div>
<app-footer></app-footer>

